/**
 * Typography variables
 * - - - - - - - - - - - - - - - - - - - - - - - - -
 * Description:
 * Typography standardized font parameters
 * - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright TenantCloud
 * - - - - - - - - - - - - - - - - - - - - - - - - -
 */

/** Modular scale dependence **/
$text-base: 14px !default;
$ms-base: 1rem;
$ms-ratio: $major-second; /* 1.125 */

/** Font family **/
$font-family-proxima-nova: 'proxima-nova', 'Avenir', sans-serif !default;
$font-family-mrdehaviland: 'MrDeHaviland' !default;
$font-family-arial: 'Arial', sans-serif !default;
$font-family-base: $font-family-proxima-nova;

/* Remix icons */
$font-family-remixicon: 'remixicon' !default;

/** Font size **/
$text-xs: ms(-2.5) !default; /* 10px */
$text-sm: ms(-1) !default; /* 12px */
$text-md: ms(0) !default; /* 14px */
$text-lg: ms(1) !default; /* 16px */
$text-xl: ms(2) !default; /* 18px */
$text-xxl: ms(3) !default; /* 20px */

/* Heading */
$h6: ms(4) !default; /* 22px */
$h5: ms(5) !default; /* 25px */
$h4: ms(6) !default; /* 28px */
$h3: ms(7) !default; /* 32px */
$h2: ms(8) !default; /* 36px */
$h1: ms(9) !default; /* 40px */

/* Buttons */
$text-button-xs: $text-sm; /* 12px */
$text-button-sm: $text-md; /* 14px */
$text-button-md: $text-md; /* 14px */
$text-button-lg: $text-xl; /* 18px */

/** Line height **/
$line-height-base: 1.5 !default;
$line-height-heading: $ms-ratio; /* Major-second - 1.125 */
$line-height-small: 1 !default;
