.m-button {
	font-weight: 600;
	font-family: inherit !important;
	text-rendering: optimizeLegibility;

	@extend .l-button;

	&::first-letter {
		text-transform: uppercase;
	}

	&::before {
		margin-right: 5px;
		font-weight: 400;
		font-family: $font-family-remixicon;

		@include center-flex;
	}

	* {
		transition: inherit;
	}

	/** When button has icon **/
	[class*='ri-'] {
		&::before {
			font-weight: 400;
			font-family: $font-family-remixicon;
			/* stylelint-disable declaration-property-unit-disallowed-list */
			transition-duration: 50ms; // fix icon transition

			@include center-flex;
		}

		&:not(:only-child) {
			&:first-child {
				margin-right: 5px;
			}

			&:last-child {
				margin-left: 5px;
			}
		}
	}

	/* XS */
	&.xs {
		@include button-size(90px, 20px, $text-button-xs, 12px);
	}

	/* SM */
	&.sm {
		@include button-size(105px, 28px, $text-button-sm, 14px);
	}

	/* MD */
	&.md {
		@include button-size(120px, $button-height-base, $text-button-md, 16px);
	}

	/* LG */
	&.lg {
		@include button-size(150px, 46px, $text-button-lg, 18px);
	}

	&.no-background {
		padding: 0;
	}

	&:not(.no-background) {
		padding: 0 17px;
	}
}
