@mixin padding-column($padding-top, $padding-bottom: false) {
	padding-top: $padding-top;
	
	@if $padding-bottom {
		padding-bottom: $padding-bottom;
	}
	
	@else {
		padding-bottom: $padding-top;
	}
}
