@mixin padding-horizontal($padding-right, $padding-left: false) {
	padding-right: $padding-right;
	
	@if $padding-left {
		padding-left: $padding-left;
	}
	
	@else {
		padding-left: $padding-right;
	}
}
