$panel-padding-h-xl: 55px !default;
$panel-padding-b-xl: 30px !default;
$panel-padding-header-c-xl: 10px !default;
$panel-header-height-xl: 60px !default;
$panel-gap-xl: 20px !default;
$panel-border-radius: 8px !default;
