$shadow-static-sm: 0 2px 4px rgba(16, 42, 67, 0.16) !default;
$shadow-static-lg: 0 8px 16px rgba(98, 125, 152, 0.12) !default;
$shadow-focus-sm: 0 2px 4px rgba(16, 42, 67, 0.26) !default;
$shadow-focus-lg: 0 8px 16px rgba(98, 125, 152, 0.22) !default;
