$button-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.08) !default;
$button-box-shadow-focus: 0 8px 12px rgba(50, 50, 93, 0.11), 0 4px 8px rgba(50, 50, 93, 0.08) !default;
$button-box-shadow-active: 0 3px 4px rgba(50, 50, 93, 0.11), 0 1px 1px rgba(50, 50, 93, 0.08) !default;
