.cdk-overlay-container {
	.menu-list {
		&.default {
			position: relative;
			min-width: 175px;
			box-shadow:
				0 0 0 1px rgba(136, 152, 170, 0.1),
				0 15px 35px 0 rgba(49, 49, 93, 0.1),
				0 5px 15px 0 rgba(0, 0, 0, 0.08);
		}
	}
}
