/* stylelint-disable */
.l-modal--closing {
	pointer-events: none !important;
}

.l-modal-side,
.l-modal-nx {
	.ngneat-dialog-backdrop {
		z-index: $z-index-popup;
		padding: 0;
		animation: $modal-animation-transition ease-in-out dialog-background;
	}

	&.l-modal-closing {
		.ngneat-dialog-backdrop {
			animation: $modal-animation-transition ease-in-out dialog-background-close;
		}
	}
}

.l-modal-nx {
	.ngneat-dialog-content {
		display: grid;

		@include media-min(sm) {
			animation: $modal-animation-transition ease-in-out dialog-main-open;
		}

		@include media-max(sm) {
			height: 100%;
			width: 100% !important;
			animation: $modal-animation-transition ease-in-out dialog-side-open;
		}
	}

	&.l-modal-closing {
		.ngneat-dialog-content {
			@include media-min(sm) {
				animation: $modal-close-animation-transition ease-in-out dialog-main-close;
			}

			@include media-max(sm) {
				animation: $modal-close-animation-transition ease-in-out dialog-side-close;
			}
		}
	}
}

.l-modal-side {
	.ngneat-dialog-backdrop {
		justify-content: flex-end;
	}

	.ngneat-dialog-content {
		display: grid;
		height: 100vh;

		@include media-min(sm) {
			animation: $modal-animation-transition ease-in-out dialog-side-open;
		}
	}

	&.l-modal-closing {
		.ngneat-dialog-content {
			@include media-min(sm) {
				animation: $modal-close-animation-transition ease-in-out dialog-side-close;
			}
		}
	}

	modal-main {
		max-height: 100vh;

		.modal.sm {
			max-height: 100vh;

			@include media-desktop {
				width: $modal-side-width-sm;
			}

			@include media-mobile {
				width: 100vw;
			}
		}

		.modal.md {
			max-height: 100vh;

			@include media-desktop {
				width: $modal-side-width-md;
			}

			@include media-mobile {
				width: 100vw;
			}
		}

		.modal-header {
			padding: 10px;

			.modal-title {
				overflow: unset;
				justify-content: space-between;

				.m-button {
					&.sm {
						min-width: 60px;
					}
				}
			}
		}
	}
}
