.l-status {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	line-height: 1;
	font-family: $font-family-base;
	text-align: center;
	font-style: normal;
	letter-spacing: 0;
	white-space: nowrap;
	border-radius: 100px;
	user-select: none;

	[class*='ri-'] {
		padding-right: 5px;
	}

	// Sizes
	&.sm {
		@include e-status-size(4px 8px, $text-xs, 10px);
	}

	&.md {
		@include e-status-size(5px 12px, $text-md, 12px);
	}

	&.lg {
		@include e-status-size(4px 8px, $text-xl, 15px);
	}

	// Colors
	&.default {
		@include e-status-color($color-white, $color-gray-600);
	}

	&.primary {
		@include e-status-color($color-green-800, $color-green-100);
	}

	&.danger {
		@include e-status-color($color-red-600, $color-red-100);
	}

	&.progress {
		@include e-status-color($color-yellow-900, $color-yellow-200);
	}

	&.warning {
		@include e-status-color($color-yellow-800, $color-yellow-100);
	}

	&.info {
		@include e-status-color($color-purple-900, $color-purple-300);
	}

	&.master {
		@include e-status-color($color-gray-900, $color-gray-200);
	}

	&.frozen {
		@include e-status-color($color-blue-700, $color-blue-200);
	}

	&.inactive {
		@include e-status-color($color-gray-600, $color-gray-100);
	}

	&.outline {
		border-width: 1px;
		border-style: solid;
	}
}
