@mixin panel($padding: null, $shadow: lg) {
	background-color: $color-white;
	border-radius: $panel-border-radius;
	
	@if $shadow == lg {
		@include shadow(lg);
	}
	
	@if $shadow == sm {
		@include shadow;
	}

	@if $padding != null {
		padding: $padding;
	}
	
	/* Card can't have large shadow inside panel */
	.card {
		@include shadow;
	}
}
