@mixin avatar-size($size, $font-size, $icon-size, $is-important: false) {
	@if ($is-important == true) {
		width: $size !important;
		height: $size !important;

		.initials {
			font-size: $font-size !important;
		}

		[class*='ri-'] {
			@include icon-size-i($icon-size);
		}
	} @else {
		width: $size;
		height: $size;

		.initials {
			font-size: $font-size;
		}

		[class*='ri-'] {
			@include icon-size($icon-size);
		}
	}
}

@mixin avatar($size: xl, $is-important: false) {
	@if ($size == xs) {
		@include avatar-size(20px, $text-xs, 12px, $is-important);
	}

	@if ($size == sm) {
		@include avatar-size(24px, $text-xs, 14px, $is-important);
	}

	@if ($size == md) {
		@include avatar-size(32px, $text-sm, 19px, $is-important);
	}

	@if ($size == lg) {
		@include avatar-size(48px, $text-lg, 28px, $is-important);
	}

	@if ($size == xl) {
		@include avatar-size(70px, $h6, 42px, $is-important);
	}

	@if ($size == xxl) {
		@include avatar-size(96px, $h5, 58px, $is-important);
	}

	@if ($size == xxxl) {
		@include avatar-size(128px, $h5, 80px, $is-important);
	}
}
