@mixin button-size($width, $height, $font-size, $icon-size) {
	font-size: $font-size;

	&:not(.no-background) {
		min-height: $height;
		min-width: $width;
	}

	/** When link has arrow **/
	[class*='ri-'],
	&::before {
		@include icon-size($icon-size);
	}
}

@mixin button-icon-size($size, $icon-size) {
	width: $size;
	height: $size;

	&::before {
		@include icon-size($icon-size);
	}
}
