.add-button {
	width: 46px;
	padding: 5px;
}

.control-buttons {
	display: flex;
	justify-content: flex-end;
	margin-bottom: var(--spacing-step);
}

.control-container {
	display: flex;
	align-items: center;
}

.remove-button {
	width: 50px;
	min-width: 45px;
	margin: 0 0 0 10px;
	color: var(--color-error);
	background-color: transparent;
	border-color: var(--color-error);
}

.phone-label-dropdown {
	width: 110px;
	margin-right: var(--spacing-step);
}

.skill-container {
	display: flex;
	align-items: center;
}
