/* Green (Primary) */
$color-green-100: #dbf1db !default;
$color-green-200: #a4dba4 !default;
$color-green-300: #6dc56d !default;
$color-green-400: #48b748 !default;
$color-green-500: #41a541 !default; /* main */
$color-green-600: #3a933a !default;
$color-green-700: #338033 !default;
$color-green-800: #245c24 !default;
$color-green-900: #163716 !default;
$color-green-1000: #071307 !default;

/* Green (Vivid) */
$color-vivid-100: #effcf6 !default;
$color-vivid-200: #c6f7e2 !default;
$color-vivid-300: #8eedc7 !default;
$color-vivid-400: #65d6ad !default;
$color-vivid-500: #3ebd93 !default; /* main */
$color-vivid-600: #27ab83 !default;
$color-vivid-700: #199473 !default;
$color-vivid-800: #147d64 !default;
$color-vivid-900: #0c6b58 !default;
$color-vivid-1000: #014d40 !default;

/* Grey */
$color-gray-100: #f0f4f8 !default;
$color-gray-200: #dae2ec !default;
$color-gray-300: #bcccdc !default;
$color-gray-400: #9fb3c8 !default;
$color-gray-500: #829ab1 !default; /* main */
$color-gray-600: #627d98 !default;
$color-gray-700: #486581 !default;
$color-gray-800: #334e68 !default;
$color-gray-900: #32435a !default;
$color-gray-1000: #102a43 !default;

/* Blue */
$color-blue-100: #f1f6ff !default;
$color-blue-200: #e9f1fa !default;
$color-blue-300: #e9f1fa !default;
$color-blue-400: #b0c9e6 !default;
$color-blue-500: #8aaed9 !default; /* main */
$color-blue-600: #6494cc !default;
$color-blue-700: #326198 !default;
$color-blue-800: #0c3966 !default;
$color-blue-900: #131e31 !default;
$color-blue-1000: #0c1523 !default;

/* Purple */
$color-purple-100: #f9f9fe !default;
$color-purple-200: #f2f6ff !default;
$color-purple-300: #d9e4ff !default;
$color-purple-400: #babdef !default;
$color-purple-500: #686fdb !default; /* main */
$color-purple-600: #615ce4 !default;
$color-purple-700: #5c57d7 !default;
$color-purple-800: #4a49b0 !default;
$color-purple-900: #36377f !default;
$color-purple-1000: #1b2541 !default;

/* Red */
$color-red-100: #ffefee !default;
$color-red-200: #facdcd !default;
$color-red-300: #f29b9b !default;
$color-red-400: #e66a6a !default;
$color-red-500: #d64545 !default; /* main */
$color-red-600: #ba2525 !default;
$color-red-700: #a61b1b !default;
$color-red-800: #911111 !default;
$color-red-900: #780a0a !default;
$color-red-1000: #610404 !default;

/* Yellow */
$color-yellow-100: #fffbea !default;
$color-yellow-200: #fff3c4 !default;
$color-yellow-300: #fce588 !default;
$color-yellow-400: #fadb5f !default;
$color-yellow-500: #f7c948 !default; /* main */
$color-yellow-600: #f0b429 !default;
$color-yellow-700: #de911d !default;
$color-yellow-800: #cb6e17 !default;
$color-yellow-900: #b44d12 !default;
$color-yellow-1000: #8d2b0b !default;

/** Main colors **/
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-primary: $color-green-500 !default; /* main */

/** Array. Need for colors SCSS tools */
$color-palette: (
	/* Green (Primary) */
	color-green-100: $color-green-100,
	color-green-200: $color-green-200,
	color-green-300: $color-green-300,
	color-green-400: $color-green-400,
	color-green-500: $color-green-500, /* main */
	color-green-600: $color-green-600,
	color-green-700: $color-green-700,
	color-green-800: $color-green-800,
	color-green-900: $color-green-900,
	color-green-1000: $color-green-1000,
	/* Green (Vivid) */
	color-vivid-100: $color-vivid-100,
	color-vivid-200: $color-vivid-200,
	color-vivid-300: $color-vivid-300,
	color-vivid-400: $color-vivid-400,
	color-vivid-500: $color-vivid-500, /* main */
	color-vivid-600: $color-vivid-600,
	color-vivid-700: $color-vivid-700,
	color-vivid-800: $color-vivid-800,
	color-vivid-900: $color-vivid-900,
	color-vivid-1000: $color-vivid-1000,
	/* Gray */
	color-gray-100: $color-gray-100,
	color-gray-200: $color-gray-200,
	color-gray-300: $color-gray-300,
	color-gray-400: $color-gray-400,
	color-gray-500: $color-gray-500, /* main */
	color-gray-600: $color-gray-600,
	color-gray-700: $color-gray-700,
	color-gray-800: $color-gray-800,
	color-gray-900: $color-gray-900,
	color-gray-1000: $color-gray-1000,
	/* Blue */
	color-blue-100: $color-blue-100,
	color-blue-200: $color-blue-200,
	color-blue-300: $color-blue-300,
	color-blue-400: $color-blue-400,
	color-blue-500: $color-blue-500, /* main */
	color-blue-600: $color-blue-600,
	color-blue-700: $color-blue-700,
	color-blue-800: $color-blue-800,
	color-blue-900: $color-blue-900,
	color-blue-1000: $color-blue-1000,
	/* Purple */
	color-purple-100: $color-purple-100,
	color-purple-200: $color-purple-200,
	color-purple-300: $color-purple-300,
	color-purple-400: $color-purple-400,
	color-purple-500: $color-purple-500, /* main */
	color-purple-600: $color-purple-600,
	color-purple-700: $color-purple-700,
	color-purple-800: $color-purple-800,
	color-purple-900: $color-purple-900,
	color-purple-1000: $color-purple-1000,
	/* Red */
	color-red-100: $color-red-100,
	color-red-200: $color-red-200,
	color-red-300: $color-red-300,
	color-red-400: $color-red-400,
	color-red-500: $color-red-500, /* main */
	color-red-600: $color-red-600,
	color-red-700: $color-red-700,
	color-red-800: $color-red-800,
	color-red-900: $color-red-900,
	color-red-1000: $color-red-1000,
	/* Yellow */
	color-yellow-100: $color-yellow-100,
	color-yellow-200: $color-yellow-200,
	color-yellow-300: $color-yellow-300,
	color-yellow-400: $color-yellow-400,
	color-yellow-500: $color-yellow-500, /* main */
	color-yellow-600: $color-yellow-600,
	color-yellow-700: $color-yellow-700,
	color-yellow-800: $color-yellow-800,
	color-yellow-900: $color-yellow-900,
	color-yellow-1000: $color-yellow-1000,
	/** Main colors **/
	color-white: $color-white,
	color-black: $color-black,
	color-primary: $color-green-500, /* main */
) !default;
