/* stylelint-disable */
@import 'grid-params';
@import 'init-grid';

.grid {
	grid-row-gap: var(--row-gap, #{$grid-gutter-width});

	@include init-grid;
}

.grid-form {
	grid-row-gap: var(--row-gap, #{$grid-gutter-width});
	
	@include init-grid;
	
	.mbsc-form {
		margin-bottom: 0 !important;
	}
	
	.skeleton-animation {
		margin-bottom: 0 !important;
	}
}
.grid-clean {
	@include init-grid;
}
