/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/cdk/overlay-prebuilt.css';

:root {
	--color-primary: #004859;
	--color-accent: #ff8888;
	--color-accent-secondary: #ffc15a;
	--color-accent-secondary-darker: #faa415;
	--color-success: #4caf50;
	--color-error: #ff5722;
	--color-info: #449eff;
	--color-background: #eceff1;
	--color-text: #263238;
	--color-text-light: #607d8b;
	--height-header: 64px;
	--height-footer: 48px;
	--border-radius: 10px;
	--spacing-step: 8px;
	--font-size-h1: 34px;
}

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
span {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins';
	background-color: var(--color-background);
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

form {
	box-sizing: border-box;
	width: 100%;
	min-width: 395px;
	max-width: 450px;
	padding: calc(var(--spacing-step) * 3);
	background: var(--color-background);
	border-radius: var(--border-radius);
}

label,
input:not([type='checkbox']),
fieldset,
button {
	box-sizing: border-box;
	width: 100%;
}

input[type='checkbox'] {
	width: 16px;
	height: 16px;
	margin-right: var(--spacing-step);
}

fieldset {
	margin-top: var(--spacing-step);
	border: 1px solid var(--color-text-light);
	border-radius: var(--border-radius);
}

button {
	margin-top: calc(var(--spacing-step) * 2);
	font-weight: 700;
	color: var(--color-text);
	background-color: var(--color-accent-secondary);
	border: var(--color-accent-secondary-darker) 1px solid;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		background-color: var(--color-accent-secondary-darker);
		border: var(--color-accent-secondary) 1px solid;
	}

	&.reset-button {
		background-color: transparent;
		border: var(--color-primary) 1px solid;
	}
}

input,
select {
	border: var(--color-text) solid 2px;
}

legend {
	font-weight: 700;
}

input,
button,
select {
	padding: 10px 11px;
	font-size: 18px;
	border-radius: 5px;
}

select {
	width: 100%;
}

.ng-valid.ng-dirty:not([formGroupName]):not([formArrayName]):not([ngModelGroup]):not(form):not(paper-textarea) {
	border: 2px solid var(--color-success);
}

.ng-invalid.ng-dirty:not([ngModelGroup='address']):not([formGroupName='address']):not([formArrayName]):not(form) {
	border: 2px solid var(--color-error);
}

button[disabled] {
	background-color: rgba(0, 0, 0, 0.15);
	border-color: rgba(0, 0, 0, 0.1);
	pointer-events: none;
}

@keyframes input-message-animation {
	from {
		transform: translateY(-6px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@mixin input-message() {
	box-sizing: border-box;
	padding: 2px 13px;
	font-size: 12px;
	animation-name: input-message-animation;
	animation-duration: 300ms;
}

.input-error {
	color: var(--color-error);

	@include input-message;
}

.input-info {
	color: var(--color-info);

	@include input-message;
}

.review-textarea {
	box-sizing: border-box;
	min-height: 74px;
	margin-top: var(--spacing-step);
	padding: calc(var(--spacing-step) * 2);
	background-color: white;
	border-radius: var(--border-radius);

	h4 {
		margin-bottom: var(--spacing-step);

		&:empty::before {
			content: attr(data-placeholder);
			opacity: 0.6;
		}
	}

	p,
	div {
		&:empty::before {
			content: attr(data-placeholder);
			opacity: 0.6;
		}
	}
}
