// Styles picked from 'ngx-toastr/toastr';
@import 'utilities/index';

// Toast
.toast-container {
	position: fixed;
	z-index: $z-index-notifications;
	padding-top: 10px;
	pointer-events: none;

	.ngx-toastr {
		margin: 20px 0;
		pointer-events: auto;
	}
}

.toast-top-right {
	top: 12px;
	right: 12px;
}
