@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale-subtle.css';

.tippy-box {
	&[data-theme~='tenantcloud'] {
		font-weight: 400;
		color: $color-gray-700;
		background: $color-white;
		box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1), 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);

		> .tippy-arrow {
			color: $color-white;
		}
	}
}
