@mixin generate-dynamic-color-classes {
	@each $name, $color in $color-palette {
		.#{$name} {
			color: $color;
		}

		.#{$name}-i {
			color: $color !important;
		}

		.bg-#{$name} {
			background-color: $color;
		}

		.bg-#{$name}-i {
			background-color: $color !important;
		}
	}
}

/* Generate dynamic colors classes from palette */
@include generate-dynamic-color-classes;
