<form class="form" #form="ngForm" (reset)="onReset($event)" (ngSubmit)="onSubmitForm(form, $event)">
	<!-- First name -->
	<div class="form-field">
		<label for="name">First Name</label>
		<input
			#firstName="ngModel"
			banWords="test"
			required
			minlength="2"
			name="first-name"
			type="text"
			id="name"
			placeholder="Enter your name"
			[(ngModel)]="userInfo.firstName"
		/>
		<div *ngIf="firstName.dirty && firstName.hasError('required')" class="input-error">This field is required</div>
		<div *ngIf="firstName.dirty && firstName.hasError('minlength')" class="input-error">
			The length should be at least
			<strong>{{ firstName.getError('minlength').requiredLength }}</strong>
			characters
		</div>
		<div *ngIf="firstName.dirty && firstName.hasError('banWords')" class="input-error">
			The value
			<strong>{{ firstName.getError('banWords').bannedWord }}</strong>
			is not allowed
		</div>
	</div>

	<!-- Last name -->
	<div class="form-field">
		<label for="last-name">Last Name</label>
		<input
			#lastName="ngModel"
			required
			minlength="2"
			name="last-name"
			type="text"
			id="last-name"
			placeholder="Enter your last name"
			[(ngModel)]="userInfo.lastName"
		/>
		<div *ngIf="lastName.dirty && lastName.hasError('required')" class="input-error">This field is required</div>
		<div *ngIf="lastName.dirty && lastName.hasError('minlength')" class="input-error">
			The length should be at least
			<strong>{{ lastName.getError('minlength').requiredLength }}</strong>
			characters
		</div>
	</div>

	<!-- Nickname -->
	<div class="form-field">
		<label for="nickname">Nickname</label>
		<input
			#nickname="ngModel"
			uniqueNickname
			required
			minlength="3"
			pattern="^[\w.]+$"
			name="nickname"
			type="text"
			id="nickname"
			placeholder="Come up with a nickname"
			[ngModelOptions]="{ updateOn: 'blur' }"
			[banWords]="isAdult ? ['test', 'test_test', 'dummy'] : []"
			[(ngModel)]="userInfo.nickname"
		/>
		<div *ngIf="nickname.dirty && nickname.hasError('required')" class="input-error">This field is required</div>
		<div *ngIf="nickname.dirty && nickname.hasError('minlength')" class="input-error">
			The length should be at least
			<strong>{{ nickname.getError('minlength').requiredLength }}</strong>
			characters
		</div>
		<div *ngIf="nickname.dirty && nickname.hasError('pattern')" class="input-error">
			Only letters, numbers, _ and . is allowed
		</div>
		<div *ngIf="nickname.dirty && nickname.hasError('banWords')" class="input-error">
			The value
			<strong>{{ nickname.getError('banWords').bannedWord }}</strong>
			is not allowed
		</div>
		<div *ngIf="nickname.dirty && nickname.hasError('uniqueNickname')" class="input-error">
			This nickname is taken
		</div>
		<div *ngIf="nickname.pending" class="input-info">Checking...</div>
	</div>

	<!-- Email -->
	<div class="form-field">
		<label for="email">Email</label>
		<input
			#email="ngModel"
			email
			required
			name="email"
			type="email"
			id="email"
			placeholder="Provide your email"
			[(ngModel)]="userInfo.email"
		/>
		<div *ngIf="email.dirty && email.hasError('required')" class="input-error">This field is required</div>
		<div *ngIf="email.dirty && email.hasError('email')" class="input-error">This field should be a valid email</div>
	</div>

	<!-- Year of birth -->
	<div class="form-field-inline-group">
		<div class="form-field form-field-small">
			<label for="year-of-birth">Year of birth</label>
			<select
				#yearOfBirth="ngModel"
				required
				id="year-of-birth"
				name="year-of-birth"
				[(ngModel)]="userInfo.yearOfBirth"
			>
				<option *ngFor="let year of years" [value]="year">{{ year }}</option>
			</select>
			<div *ngIf="yearOfBirth.dirty && yearOfBirth.hasError('required')" class="input-error">
				This field is required
			</div>
		</div>
		<div class="form-field form-field-small">
			<label for="passport">Passport Number</label>
			<input
				#passport="ngModel"
				pattern="^[A-Z]{2}[0-9]{6}$"
				name="passport"
				type="text"
				id="passport"
				placeholder="Provide Passport Data"
				[required]="isAdult"
				[(ngModel)]="userInfo.passport"
			/>
			<div *ngIf="passport.dirty && passport.hasError('pattern')" class="input-error">
				Invalid passport number
			</div>
			<div *ngIf="passport.dirty && passport.hasError('required')" class="input-error">Required for adults</div>
		</div>
	</div>

	<!-- Address -->
	<fieldset ngModelGroup="address">
		<legend>Address</legend>
		<div class="form-field">
			<label for="full-address">Full Adress</label>
			<input
				#fullAdress="ngModel"
				required
				name="full-address"
				type="text"
				id="full-address"
				placeholder="Street name and house number"
				[(ngModel)]="userInfo.fullAddress"
			/>
			<div *ngIf="fullAdress.dirty && fullAdress.hasError('required')" class="input-error">
				This field is required
			</div>
		</div>
		<div class="form-field">
			<label for="city">City</label>
			<input
				#city="ngModel"
				required
				name="city"
				type="text"
				id="city"
				placeholder="City"
				[(ngModel)]="userInfo.city"
			/>
			<div *ngIf="city.dirty && city.hasError('required')" class="input-error">This field is required</div>
		</div>
		<div class="form-field">
			<label for="post-code">Post Code</label>
			<input
				#postCode="ngModel"
				required
				name="post-code"
				type="number"
				id="post-code"
				placeholder="Post code"
				[(ngModel)]="userInfo.postCode"
			/>
			<div *ngIf="postCode.dirty && postCode.hasError('required')" class="input-error">
				This field is required
			</div>
		</div>
	</fieldset>

	<!-- Password -->
	<fieldset ngModelGroup="password" passwordShouldMatch>
		<legend>User Password</legend>
		<div class="form-field">
			<label for="password">Password</label>
			<input
				#password="ngModel"
				required
				minlength="6"
				name="password"
				type="password"
				id="password"
				placeholder="Enter user's password"
				[(ngModel)]="userInfo.password"
			/>
			<div *ngIf="password.dirty && password.hasError('required')" class="input-error">
				This field is required
			</div>
			<div *ngIf="password.dirty && password.hasError('minlength')" class="input-error">
				Password length should be at least
				<strong>{{ password.getError('minlength').requiredLength }}</strong>
				characters
			</div>
		</div>
		<div class="form-field">
			<label for="confirm-password">Confirm password</label>
			<input
				#confirmPassword="ngModel"
				name="confirm-password"
				type="password"
				id="confirm-password"
				placeholder="Confirm the password"
				[(ngModel)]="userInfo.confirmPassword"
			/>

			<div
				*ngIf="confirmPassword.dirty && confirmPassword.hasError('passwordShouldMatch')"
				class="input-error"
			>
				Password doesn't match
			</div>
		</div>
	</fieldset>

	<!-- Save -->
	<button [disabled]="form.invalid || form.pending">Save</button>

	<!-- Resets -->
	<button class="reset-button" type="reset">Reset</button>
	<button class="reset-button" type="button" (click)="onResetInitialClick($event)">Initial data</button>
</form>
