.l-panel-layout {
	max-width: 100%;
	overflow: hidden;

	a {
		&.panel-btn-back {
			&::before {
				@include media-mobile {
					content: $ri-arrow-left-line;
				}

				@include media-desktop {
					content: $ri-arrow-left-s-line;
				}
			}
		}
	}

	button {
		&.panel-btn-back {
			&::before {
				content: $ri-arrow-left-line;
			}
		}
	}

	p {
		margin: 0;
	}

	ul {
		@include reset-list;
	}

	.panel-btn-back {
		&::before {
			font-family: $font-family-remixicon;
		}
	}

	.ck-content,
	.m-ckeditor {
		ul {
			display: block !important;
			margin: 1em 0 !important;
			padding-left: 40px !important;
			list-style-type: disc !important;
		}

		p {
			display: block !important;
			margin: 1em 0 !important;
		}
	}

	// TODO refactor to slots https://tenantcloud.atlassian.net/browse/DEVTECH-1465
	/* Styles for several sections inside the panel with icon */
	.multi-section {
		display: grid;
		grid-row-gap: 20px;

		.header {
			position: relative;
			align-items: center;
			width: 100%;

			@include flex;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.header-title {
			align-items: center;
			font-weight: 600;

			@include text-overflow;
			@include flex;

			@include media-mobile {
				font-size: $text-xl;
			}

			@include media-desktop {
				font-size: $text-xxl;
			}
		}

		.icon {
			&:not(:last-child) {
				@include media-mobile {
					margin-right: 10px;
				}
			}
		}

		.header-subtitle {
			font-weight: 600;

			@include media-mobile {
				font-size: $h6;
			}

			@include media-desktop {
				font-size: $h5;
			}
		}

		.section-wrap {
			> * {
				@include media-desktop {
					@include padding-horizontal($panel-padding-h-xl);
				}
			}
		}

		@include media-desktop {
			@include margin-horizontal(-$panel-padding-h-xl);
		}
	}

	.icon {
		&::before {
			width: 18px;
			height: 18px;

			@include center-flex;
			@include icon-size(21px);
		}

		&:not(:last-child) {
			@include media-mobile {
				margin-right: 10px;
			}
		}

		@include media-mobile {
			@include center-flex;
		}

		@include media-desktop {
			position: absolute;
			left: 18px; // centering

			@include center(vertical);
		}
	}

	.panel-header {
		.panel-actions {
			> * {
				&:not(:last-child) {
					@include media-desktop {
						margin-right: 10px;
					}
				}
			}

			@include media-desktop {
				margin-left: auto;
			}
		}

		.panel-title {
			@include media-desktop {
				align-items: center;
				font-weight: 600;
				font-size: $text-xxl;

				@include text-overflow;
				@include flex;
			}
		}

		+ .panel-body {
			@include media-desktop {
				border-top: 1px solid $color-gray-200;
			}
		}

		&.default-header {
			.panel-title {
				@include media-mobile {
					display: grid;
					align-items: center;
					grid-template-columns: auto auto 1fr;
				}
			}

			@include media-mobile {
				display: grid;
				align-items: center;
				grid-column-gap: 10px;
				grid-template-columns: 1fr auto;
			}
		}

		&:not(.default-header) {
			@include media-mobile {
				@include header-mobile(panel-back, panel-title, panel-actions);
			}
		}

		@include media-desktop {
			position: relative;
			justify-content: space-between;
			align-items: center;

			min-height: $panel-header-height-xl;

			@include flex;
			@include padding-column($panel-padding-header-c-xl);
		}
	}

	.panel-action-link {
		@include reset-button;
		font-weight: 600;
		color: $color-green-500;
		transition: color $transition-medium ease;

		@include hover {
			color: $color-green-700;
		}

		&:active {
			color: $color-green-800;
		}

		&::first-letter {
			text-transform: uppercase;
		}
	}

	.panel-subtitle {
		font-weight: 400;
		font-size: $text-xl;
		color: $color-gray-400;

		&:not(:first-child) {
			margin-left: 5px;
		}
	}

	.panel-actions {
		margin-left: auto;

		@include media-desktop {
			display: flex;
			align-items: center;
		}
	}

	.panel-body {
		position: relative;

		@include flex(column);

		&:last-child {
			@include media-desktop {
				padding-bottom: $panel-padding-b-xl;
			}
		}

		&:not(:last-child) {
			@include media-desktop {
				margin-bottom: 20px;
			}
		}

		@include media-desktop {
			padding: $panel-gap-xl $panel-padding-h-xl 0;
		}
	}

	.panel-footer {
		@include media-desktop {
			padding: 0 $panel-padding-h-xl $panel-padding-b-xl;
		}
	}

	// slots
	.panel-info-group {
		display: grid;

		@include media-mobile {
			grid-row-gap: 30px;
		}

		@include media-desktop {
			grid-column-gap: 20px;
			grid-row-gap: 10px;
			grid-template-columns: 2fr 3fr;
		}
	}

	.panel-info-list {
		@include reset-list;
		display: grid;

		@include media-mobile {
			grid-row-gap: 15px;
		}

		@include media-desktop {
			grid-row-gap: 10px;
		}
	}

	.panel-info-item {
		display: grid;
		font-size: $text-lg;

		p {
			margin: 0;
		}

		@include media-mobile {
			grid-column-gap: 15px;
			grid-template-columns: 4fr 5fr;
		}

		@include media-desktop {
			grid-column-gap: 10px;
			grid-template-columns: 1fr 2fr;
		}
	}

	.panel-info-title {
		font-weight: 600;
	}

	@include media-desktop {
		@include panel;
	}
}
